body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: hwb(0 96% 4%);
}

header {
    background-color: #008b8b;
    color: hsl(0, 0%, 100%);
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #00ced1;
    padding: 10px;
}

nav a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    padding: 8px 15px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #333;
    transition: background-color 0.3s ease;
}

nav a:hover {
    color: orangered;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: hwb(0 96% 4%);
    box-shadow: 0 0 10px #0000001a;
}

main h2 {
    text-align: center;
} 
